{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="status">
                <p>
                    An activation email has been sent!
                </p>
            </div>
        </div>
    </div>
{% endblock %}