<!DOCTYPE html>

<?php include '../../scripts/php/user/LoadMarket.php';?>


<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Market</title>

    <link rel="stylesheet" type="text/css" href="../../libs/fullpage-js/dist/jquery.fullpage.min.js" />
    <link rel="stylesheet" type="text/css" href="../../css/fullpage-style.css" />
    <link rel="stylesheet" href="../../libs/w3-css/4/w3pro.css">


</head>
<body>

<table width="100%" border="1px solid black">
    <tr>
        <td width="15%"></td>
        <td height="25%">
            <h1>Market</h1>
            <p >Redeem your prize now!</p>
        </td>
        <td width="15%"></td>
    </tr>
    <tr>
        <td width="15%" height="71%">
            <div class="toAwards" id="toAwards1">T</div>
            <div class="toAwards" id="toAwards2">O</div>
            <div class="toAwards" id="toAwards3">T</div>
            <div class="toAwards" id="toAwards4">H</div>
            <div class="toAwards" id="toAwards5">E</div>
            <div class="toAwards" id="toAwards6">A</div>
            <div class="toAwards" id="toAwards7">W</div>
            <div class="toAwards" id="toAwards8">A</div>
            <div class="toAwards" id="toAwards9">R</div>
            <div class="toAwards" id="toAwards10">D</div>
            <div class="toAwards" id="toAwards11">S</div>
            <div></div>
            <?php require_once "../../scripts/php/db/EncryptUsername.php";?>
            <button onclick="window.location='/modules/user/Homepage.html?id=<? echo $encryptedUsername ?>#3rdPage'" class="w3-button w3-circle w3-teal">➜&nbsp;&nbsp;&nbsp;</button>
        </td>
        <td rowspan="2">
            <!--This is where the rewards go-->
        </td>
        <td width="15%" valign="center">
            <br>
            <p>108&nbsp;</p>
            <div >Points&nbsp;</div>
            <p>1 <img src="../../resources/img/bronzeStar.png" width="50" height="50">&nbsp;</p>
            <p>5 <img src="../../resources/img/silverStar.png" width="50" height="50">&nbsp;</p>
            <p>8 <img src="../../resources/img/goldStar.png" width="50" height="50">&nbsp;</p>
            <p>1 <img src="../../resources/img/bronzeTrophy.png" width="50" height="50">&nbsp;</p>
            <p>5 <img src="../../resources/img/silverTrophy.png" width="50" height="50">&nbsp;</p>
            <p>8 <img src="../../resources/img/goldTrophy.png" width="50" height="50">&nbsp;</p>
            <br>
        </td>
    </tr>
    <tr><td></td><td></td></tr>
</table>

</body>
</html>