<!DOCTYPE html>
<?php include '../../scripts/php/admin/AdminTasks.php';?>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--<link rel="icon" href="../../favicon.ico">-->

    <!--meta tags, from bootstrap template-->

    <title>Admin Panel</title>
    <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/admin/admin.css">

    <!-- Custom styles for this template -->
    <link href="../../css/admin-panel.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]-->
    <script src="../../libs/html5shiv/dist/html5shiv.min.js"></script>
    <script src="../../libs/vendor/respond.min.js"></script>
    <!--[endif]-->
</head>

<body>

<?php require_once "../../scripts/php/templates/Navbar.php";?>

<div class="container">

    <div class="starter-template">
        <h1 align="left">Admin Panel</h1>
    </div>

    <?php require_once "../../scripts/php/error/CheckShowAlert.php";?>


    <h2 align="center">Manage <b><? echo $dbcomm->getAccountNameByUsername($username); ?></b> Users</h2>
    <br>
    <table class="table table-hover" width="100%">
        <tr>
            <th width="40%">
                User:
            </th>
            <th width="20%">
                Points:
            </th>
            <th width="20%">
                Actions:
            </th>
        </tr>
        <?php include '../../scripts/php/admin/FetchUsers.php';?>

        <tr>
            <td colspan="3">
                <a href = "../auth/CreateUser.html?id=<? echo $encryptedAccountID; ?>"><div class = "glyphicon glyphicon-plus"></div> New User</a>
            </td>
        </tr>
    </table>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../libs/jquery/dist/jquery.min.js"></script>
<script src="../../libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../libs/jquery-backstretch/jquery.backstretch.min.js"></script>
<script src="../../scripts/jquery/scripts.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript" src="../../scripts/jquery/admin/confirm-delete.js"></script>

</body>
</html>