<h1>Editing an image</h1>

{{ form_start(form) }}

    {{ form_row(form.file) }}
{{ form_end(form) }}

{% block stylesheets %}
    <style>
        img.admin-preview {
            max-height: 200px;
            max-width: 200px;
        }
    </style>
{% endblock %}